/*style.css*/

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	color: darkslategrey;
	font-family: 'Gafata';
	background-color: whitesmoke;
}

#contact {
	float: right;
	padding-right: 25px;
}

#header {
	background-image: url("header.png");
	height: 50px;
	background-color: seashell;
}

#buttons {
	float: left;
	padding-left: 45px;
}

#name {
	float: left;
}

#namebutton {
	font-weight: bold; 
}

button {
	font-weight: bold; 
	height:50px;
	background-color: transparent; 
    border: none;
    color: darkslategrey;
    padding: 15px 32px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.options:hover {
	background: rgb(248,242,236);
	color: darkslategrey;
}
#middle {
	width: 100%;
	height: 90%;
	padding-left: 60px;
}

#midtext {
	float: right;
	text-align:center;
	border-color: darkslategrey;
	border-radius: 1px;
	border-style: none;
	height: 320px;
	width: 50%;
	margin-left: 500px;
	position: absolute;
}

#me {
	float: left;
	border-color: seashell;
	border-radius: 10px;
	border-style: solid;
	margin-top: 30px;
	margin-right: 60px;
	position: absolute;
}

#exp {
	float: left;
	margin-top: 400px;
	width: 100%;
}

.expbox {
	height: 200px;
	width: 90%;
	border-color: darkslategrey;
	border-radius: 1px;
	border-style: solid;
}

.separator {
	height: 10px;
	width: 100%;
	background-color: white;
}

#footer {
	clear: both;
    position: relative;
    margin-top: -3em;
	background-image: url("header.png");
	text-align: center;
	width:100%;
	height: 80px;
	background-color: seashell;
}


